<!DOCTYPE html>

<html>
    <head>
        <title>Mountains</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </header>
        
    