<% include ../partials/header %>

<form action="/mountains/<%= mountain._id %>?_method=PUT" method="POST">
    <input type="text" name="mountain[title]" value="<%= mountain.title %>">
    <input type="text" name="mountain[image]" value="<%= mountain.image %>">
    <input type="text" name="mountain[description]" value="<%= mountain.description %>">
    <input type="submit" value="Create">
</form>

<% include ../partials/footer %>